.green{
	background-color: green;
	width: 140px;
	height: 140px;
	font-size: 30px;
}
.red{
	background-color: red;
	width: 140px;
	height: 140px;
	font-size: 30px;
}
.blue{
	background-color: blue;
	width: 140px;
	height: 140px;
	font-size: 30px;
}

.space-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	margin-bottom: 20px
}

.flex-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2px;
}